:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.87);
}

#root {
  max-width: 600px;
}

.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

textarea {
  padding: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.list-item-text {
  margin-right: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

li button {
  margin: 0.5rem;
  padding: 0.25rem 0.5rem;
}
